.w-footer {
    width: 100%;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    color: #4E4E4E;

    .footer {
        @include container();
        font-size: 13px;
        display: flex;
        padding: 10px;

        .ft-left {
            flex-basis: 40%;

            a {
                @include a();
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .ft-right {
            flex-basis: 60%;
            .list-unstyled{
                margin: 0;
                .tag-list {
                    list-style: none;
    
                    a {
                        font-size: 12px;
                        white-space: nowrap;
                        background: #F3F3F3;
                        border: 1px solid #E8E8E8;
                        display: inline-block;
                        padding: 2px 5px;
                        margin: 2px 2px 2px 0;
                        text-decoration: none;
                        text-align: center;
                        border-radius: 0;
                    }
                    a:hover{
                        transition: 0.5s;
                        background-color: rgb(182, 182, 241);
                    }
                }
            }
        }
    }
}