body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-family: "Montserrat", Helvetica, Arial, serif;
}
body .main_menu {
  background-color: #283046;
  min-width: 260px;
  position: fixed;
  height: 100%;
}
body .main_menu .nav_header {
  font-size: 0.9rem;
  padding: 0px 20px;
}
body .main_menu .nav_header a .brand_logo svg {
  margin: 10px;
}
body .main_menu .menu_content ul {
  list-style: none;
  color: #fff;
}
body .main_menu .menu_content ul .nav_item {
  line-height: 3;
}
body .main_menu .menu_content ul .nav_item a {
  color: #b4b7bd;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
}
body .main_menu .menu_content ul .nav_item:hover {
  cursor: pointer;
}
body .main_menu .menu_content ul .nav_item:hover a {
  color: red;
  transition: 0.3s;
}
body .app_content {
  margin-left: 260px;
}
body .app_content .content_wrapper {
  padding: 20px;
}
body .app_content .content_wrapper .content_header h3 {
  color: #636363;
}
body .app_content .content_wrapper .content_match {
  display: flex;
}
body .app_content .content_wrapper .content_match .card {
  background-color: #fff;
  margin-right: 30px;
  padding: 5px 20px;
  border-radius: 1rem;
  font-size: 1.2rem;
}
body .app_content .content_wrapper .content_match .card .card_body .card_title {
  font-size: 1rem;
  color: #5e5873;
}
body .app_content .content_wrapper .content_match .card .card_body .text {
  color: #4484e3;
  font-size: 1.2rem;
}
body .app_content .content_wrapper .content_match .card .card_header .card_title {
  font-size: 1rem;
  color: #5e5873;
}
body .app_content .content_wrapper .content_match .card_right {
  width: 50%;
}
body .app_content .content_wrapper .content_match .card_right .card_body_right {
  display: flex;
}
body .app_content .content_wrapper .content_match .card_right .card_body_right .left, body .app_content .content_wrapper .content_match .card_right .card_body_right .right {
  flex: 20%;
  display: flex;
  align-items: center;
}
body .app_content .content_wrapper .content_match .card_right .card_body_right .left .badge, body .app_content .content_wrapper .content_match .card_right .card_body_right .right .badge {
  margin-right: 1rem;
}
body .app_content .content_wrapper .content_match .card_right .card_body_right .left .card_info, body .app_content .content_wrapper .content_match .card_right .card_body_right .right .card_info {
  color: #5e5873;
}
body .app_content .content_wrapper .content_match .card_right .card_body_right .left .card_info h5, body .app_content .content_wrapper .content_match .card_right .card_body_right .right .card_info h5 {
  margin: 0px;
}
body .footer {
  margin-left: 260px;
  padding: 0.8rem 4rem;
}
body .footer .left {
  float: left;
}
body .footer .right {
  float: right;
}

.content_row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_row .content_header {
  flex: 1;
  width: 75%;
}
.content_row .add_users {
  flex: 0.2;
}
.content_row .add_users a {
  background-color: #28c76f;
  padding: 10px;
  color: #fff;
  border-radius: 0.7rem;
  text-decoration: none;
}

.content_match .card_users {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 270px;
}
.content_match .card_users .avatar {
  margin-left: 30px;
  color: #28c76f;
}
.content_match .card_users .avatar .avatar_content {
  background-color: rgba(40, 199, 111, 0.12);
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}
.content_match .card_users .avatar .avatar_content svg {
  width: 25px;
  height: 25px;
}
.content_match .card_users .avatar .no_avatar {
  background-color: rgba(177, 172, 169, 0.12);
  color: rgb(135, 125, 125);
}
.content_match .card_users .avatar:hover {
  cursor: pointer;
}

.table {
  margin-left: 20px;
}
.table .card {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 1rem;
  font-size: 1.2rem;
  width: 85%;
}
.table .card .card_body form {
  display: flex;
  padding: 10px;
}
.table .card .card_body form .serch {
  margin: 0px 10px;
}
.table .card .card_body form .serch .form_select {
  padding: 8px;
  border-radius: 0.3rem;
  opacity: 1rem;
}
.table .card .card_body form .button_search {
  margin-left: 15px;
}
.table .card .card_body form .button_search button {
  padding: 5px 8px;
  background-color: #4484e3;
  color: #fff;
  border-radius: 0.3rem;
  font-size: 1rem;
}
.table .card .table_responsive table {
  width: 100%;
}
.table .card .table_responsive table thead {
  background-color: #f3f2f7;
  text-transform: uppercase;
  font-size: 0.857rem;
}
.table .card .table_responsive table tbody tr td {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
  text-align: center;
}
.table .card .table_responsive table tbody tr td .avatar {
  color: #ea5455;
  background-color: rgba(234, 84, 85, 0.12);
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  display: flex;
  height: 30px;
  width: 30px;
}

.from_login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #23242a;
}

.card .card_body .form_serch {
  display: flex;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 1rem;
  width: 85%;
}
.card .card_body .form_serch .search {
  margin: 15px;
}
.card .card_body .form_serch .search .form_control {
  padding: 8px;
  border-radius: 0.3rem;
}
.card .card_body .form_serch .search .btn {
  padding: 5px 10px;
  border-radius: 0.3rem;
  background-color: #4484e3;
  color: #fff;
  font-size: 1rem;
  margin: 0px;
}
.card .table table {
  width: 85%;
}
.card .table table tbody {
  background-color: #fff;
}
.card .table table tbody tr td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.card .table table tbody tr td .d-flex {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.card .table table tbody tr td .d-flex a {
  margin: 0px 10px;
}

tbody tr .images img {
  width: 10%;
}
tbody tr .stars {
  width: 50%;
}
tbody tr .stars form .Evalue {
  display: flex;
  flex-wrap: wrap;
}
tbody tr .stars form .Evalue .value {
  flex: 1;
}
tbody tr .stars form .Evalue .value input {
  display: block;
  margin-left: 35%;
  width: 30%;
}
tbody tr .stars form .Evalue .value small {
  opacity: 5px;
}
tbody tr .stars form .Evalue .btn {
  margin-top: 6px;
}
tbody tr .stars form .Evalue .btn button {
  background-color: #4484e3;
  color: #fff;
  border-radius: 0.3rem;
  padding: 3px 6px;
}

.form_login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #23242a;
}
.form_login .box {
  position: relative;
  width: 380px;
  height: 420px;
}
.form_login .box form {
  position: absolute;
  background-color: #222;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_login .box form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.form_login .box form .inputbox {
  position: relative;
  margin-top: 20px;
}
.form_login .box form .inputbox input {
  position: relative;
  width: 95%;
  padding: 10px;
  color: #23242a;
  font-size: 1em;
}
.form_login .box form .inputbox p {
  color: red;
}
.form_login .box form #login {
  width: 100%;
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card .card_body form .display {
  display: flex;
}
.card .card_body form .display .sub {
  padding: 0px 100px;
}
.card .card_body form .display .sub label {
  display: block;
}
.card .card_body form .display .sub input, .card .card_body form .display .sub select {
  width: 20rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.card .card_body form .display .sub p {
  color: red;
}
.card .card_body form .btn {
  margin: 1rem 7rem;
}
.card .card_body form .btn .btn_submit {
  background-color: #48cf85;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem 0.8rem;
}
.card .card_body form .btn a {
  background-color: #75797e;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */
