body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

    .w-header {
        background-color: #14425d;
        margin: 0;


        h1 {
            margin: 0;
            font-size: inherit;
            padding: 0;
            display: inline-block;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

@media (min-width: 300px) {
    .nav-header {
        position: relative;

        h1 {
            .drop {
                position: absolute;
                right: 10px;
                top: 0;
            }
        }

        #main-menu {
            display: none;
        }

        .nav-from {
            display: none;
        }
    }

}

@media (min-width: 576px) {
    .header {
        h1 {
            display: flex;

            a {
                flex: 1;
            }
        }

        max-width: 90%;
        margin: 0px auto;
        font-size: 1.5rem;

        #main-menu {
            display: none;

            .dropdown {
                list-style: none;
                color: #fff;
                padding: 5px 15px;

                svg {
                    font-size: 0.9rem;
                }
            }
        }

        .nav-from {
            display: none;
        }

    }

    .breadcrumb {
        background-color: #fff;
    }
}

@media (min-width: 992px) {
    .header {
        @include container();

        .nav-header {
            display: flex;

            h1 {
                display: grid;
                justify-content: center;
                align-items: center;
            }

            a {
                justify-content: center;
                display: flex;
                align-items: center;

                svg {
                    padding-right: 5px;
                }
            }

            .drop {
                display: none;
            }

            .nav-from {
                padding: 15px;
                display: block;

                .search {
                    display: flex;
                    position: relative;

                    .from-control {
                        height: 2rem;
                    }
                }

                .btn-search {
                    position: absolute;
                    right: 0;
                    top: 2px;
                    padding: 4px;

                    svg {
                        fill: black;
                    }
                }

                .btn-search:hover {
                    background-color: antiquewhite;
                }
            }
        }

        #main-menu {
            display: inline-flex;
            .dropdown {
                list-style: none;
                color: #fff;
                position: relative;
                svg {
                    font-size: 0.9rem;
                }

                ul {
                    position: absolute;
                    padding: 0px 10px;
                    background-color: #14425d;
                    width: 100%;
                    z-index: 1;
                    display: none;
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: #fff;
                            padding: 10px 0px;
                        }
                    }
                }
            }

            .dropdown:hover {
                cursor: pointer;
            }

            .dropdown:hover ul {
                a:hover{
                    color: red;
                    transition: 0.3s;
                }
                display: block;
            }
        }

        #drop-main-menu {
            display: none;
        }
    }

    .breadcrumb {
        background-color: #fdfdfd;

        .breadcrumb-container {
            @include container();
            font-size: 1rem;
            padding: 5px 0px;
        }
    }
}